In [19]:
import pandas as pd

data = pd.read_csv("Data/온실가스_배출량_1988_2021.csv")

# # 국가별 열을 인덱스로 설정.
# data.set_index('국가별', inplace=True)

# # 행의 모든 값이 NaN인 열을 제거합니다. => 대륙
# data.dropna(axis=0, how='all', inplace=True)

In [26]:
# def rank_contry(df):
temp_data = pd.read_csv("Data/rank/2020.csv")

In [27]:
temp_data.head()

   국가별       2020
0   미국  6025973.6
1  러시아  2061361.9
2   일본  1144932.5
3   독일   730922.7
4  캐나다   658788.4

In [28]:
temp_data.describe()

               2020
count  5.800000e+01
mean   2.832135e+05
std    8.399428e+05
min    0.000000e+00
25%    2.714200e+03
50%    4.859960e+04
75%    2.452752e+05
max    6.025974e+06

In [23]:
temp_data.count()

국가별     58
2021    58
dtype: int64

In [29]:
na_contry = temp_data[temp_data['2020']==0]

In [30]:
na_contry

         국가별  2020
46        페루   0.0
47        중국   0.0
48        인도   0.0
49     인도네시아   0.0
50        이란   0.0
51   사우디아라비아   0.0
52       멕시코   0.0
53     아르헨티나   0.0
54       브라질   0.0
55      콜롬비아   0.0
56     코스타리카   0.0
57  남아프리카공화국   0.0

In [16]:
top_contry = temp_data[temp_data['2021']>0]
top_contry.head(10)

       국가별       2021
0       미국  6340228.3
1      러시아  2156599.3
2       일본  1168094.5
3       독일   760358.0
4      캐나다   670428.3
5     튀르키예   564389.8
6  오스트레일리아   528631.7
7       영국   429489.5
8      프랑스   420060.8
9     이탈리아   417591.4

In [17]:
# 산포도 확인하기
import matplotlib.pyplot as plt

plt.scatter(
    temp_df,
    top10_year
)
plt.xlabel('rank 10 contry')
plt.ylabel('year')
plt.show()

NameError: name 'temp_df' is not defined

In [18]:
df_ghg = pd.DataFrame(top10_ghg).T
df_ghg.columns = top10_year

NameError: name 'top10_ghg' is not defined

In [ ]:
df_ghg.head()

In [ ]:
df_ghg.info()

In [ ]:
df = pd.concat([df_contry,df_ghg])
df

In [ ]:
# 결과 출력
top10_contry = {}
for key, value in rank_df.items():
    print(key, ":\n", value)

In [ ]:
# 연도별 데이터프레임 생성해서 top10 보여주는 데이터프레임 만들기.
def top10_by_year(df):

    # 각 연도별 데이터프레임을 저장할 딕셔너리
    dataframes = {}

    # 각 연도의 데이터를 추출하고 내림차순 정렬
    years = set(col.split('_')[0] for col in df.columns)
    for year in years:
        year_cols = [col for col in df.columns if col.startswith(year)]
        df_year = df[year_cols]
        # NaN 값만 있는 열을 제거합니다.
        df_year = df_year.dropna(how='all', axis=1)
        # 각 열을 내림차순으로 정렬합니다.
        df_year = df_year.apply(lambda x: x.sort_values(ascending=False).values)
        # 결과를 딕셔너리에 저장합니다.
        dataframes[f'df_{year}'] = df_year

    return dataframes

In [ ]:

# 1988년부터 2021년까지의 각 연도별로 상위 10개 항목을 내림차순으로 정렬
top10_by_year = {}
for year in range(1988, 2021):
    top10_by_year[f'df_{year}'] = data[str(year)].sort_values(ascending=False).head(10)